.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium
}
.userTable td{
    @apply border text-base text-center
}

@media print {
    .print\:hidden {
        display: none !important;
    }
    .print\:static {
        position: static !important;
    }
    .print\:bg-white {
        background-color: white !important;
    }
    .print\:text-black {
        color: black !important;
    }
    .bg-black {
        background-color: black !important; /* Ensure the background color applies */
        -webkit-print-color-adjust: exact; /* For Chrome and Safari */
        print-color-adjust: exact;         /* For modern browsers */
    }

}
